{% extends 'SoundGapContentAdminBundle:Layout:base.html.twig' %}

{% block title %} : Content Admin{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/content_admin/scripts/less-1.6.2.min.js"></script>
<script type="text/javascript" src="/content_admin/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/content_admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function() {
  $(".alert").alert();
})
</script>
<script type="text/javascript" src="/content_admin/scripts/main.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/less" href="/content_admin/styles/main.less">
{% endblock %}

{% block body %}
<div id='navbar' class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header col-md-4">
      <a class="navbar-brand" href="{{path('soundgap_ca_homepage')}}">SoundGap Content Admin</a>
      {% if pageName is defined %}
        <span class="navbar-brand" > : {% block pageName %}{{pageName|humanize}}{% endblock %}</span>
      {% endif %}
    </div>
    <div class="col-md-8">
      <ul class="nav">
        {{render(controller('SoundGapContentAdminBundle:System:embedSchoolApp'))}}
        <li class="dropdown col-md-2">
          <span class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></span>
          <ul class="dropdown-menu">
            <li><a href="#"> - </a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

{% if app.session.flashbag.has('notice') %}
<div id='flashbag'>
  <div id='flash' class="alert alert-warning fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <ul>
    {% for flashMessage in app.session.flashbag.get('notice') %}
      <li>{{ flashMessage }}</li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2" id="sidebar">
    {% block mainnav %}
      <nav>
        <ul class="nav nav-sidebar">
          <li>
            <span>Main Course</span>
            <ul class="nav nav-sidebar">
              <li><a href="{{path("soundgap_ca_main_station")}}">Station Lesson</a></li>
              <li><a href="{{path("soundgap_ca_main_station")}}">Station Exam</a></li>
              <li><a href="{{path("soundgap_ca_parts_quest")}}"><span>Quest</span></a></li>
            </ul>
          </li>
          <li>
            <span>Ground</span>
            <ul class="nav nav-sidebar">
              <li><a href="{{path("soundgapca_ground_category")}}"><span>Category</span></a></li>
            </ul>
          </li>
          <li>
            <span>Assets</span>
            <ul class="nav nav-sidebar">
              <li><a href="{{path("soundgapca_asset_character")}}"><span>Character</span></a></li>
              <li><a href="{{path("soundgapca_asset_characterpose")}}"><span>CharacterPose</span></a></li>
              <li><a href="{{path("soundgapca_asset_emoticon")}}"><span>Emoticon (Global)</span></a></li>
              <li><a href="{{path("soundgapca_asset")}}"><span>Assets</span></a></li>
            </ul>
          </li>
          <li>
            <span>Core</span>
            <ul class="nav nav-sidebar">
              <li><a href="{{path("soundgapca_system_school_userupdate")}}"><span>School</span></a></li>
              <li><a href="{{path("soundgapca_system_app_userupdate")}}"><span>School App</span></a></li>
            </ul>
          </li>
          <li>
            <span>System</span>
            <ul class="nav nav-sidebar">
              <li><a href="{{path("soundgapca_system_school")}}"><span>School</span></a></li>
              <li><a href="{{path("soundgapca_system_app")}}"><span>App</span></a></li>
              <li><a href="{{path("soundgapca_system_schoolapp")}}"><span>School App</span></a></li>
              <li><a href="{{path("soundgapca_system_apppackage")}}"><span>AppPackage</span></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    {% endblock %}
    </div>
    <div class="col-sm-9 col-md-10 main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}