{% extends 'SoundGapContentAdminBundle:Layout:ca.html.twig' %}

{% block title %}{{pageName|capitalize}}{{parent()}}{% endblock %}


{% block content %}
<div class='col-sm-7'>
  <h2>{{pageName|capitalize}} List</h2>
  <table class="table">
  <thead>
    <tr>
      <th>{{pageName|capitalize}} Title</th>
      <th>Button</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for category in categories %}
    <tr>
      <td>
        <div>{{category.title}}</div>
        <div>{{category.title2}}</div>
      </td>
      <td>
        {% if category.buttonImage is not null %}
          <img class='img-thumbnail asset' src="/{{category.buttonImage.webPath}}">
        {% else %}
            <div>{{category.buttonTitle}}</div>
            <div>{{category.buttonTitle2}}</div>
        {% endif %}
      </td>
      <td>
        <div>
          <a class='label label-primary' href="{{path('soundgapca_ground_grade',{'categoryId':category.id})}}"> Grade </a>
        </div>
        <div>
          <a class='label label-warning' href="{{path('soundgapca_ground_category_update',{'id':category.id})}}"> update </a>
        </div>
        <div>
          <a class='label label-danger' href="{{path('soundgapca_ground_category_delete',{'id':category.id})}}" onclick="return confirm('sure bo?')"> delete </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class='col-sm-5'>
<h2>{{actionName|humanize}} {{pageName|humanize}}</h2>
{{ form_start(form, {'method': 'POST','attr':{'class':'form-horizontal','role':'form'}}) }}
{{ form_end(form) }}
</div>
{% endblock %}