{% extends 'SoundGapContentAdminBundle:Layout:ca.html.twig' %}

{% block title %}{{pageName|capitalize}}{{parent()}}{% endblock %}


{% block content %}
<div class='col-sm-7'>
  <h2>{{pageName|capitalize}} List</h2>
  <table class="table">
  <thead>
    <tr>
      <th>{{pageName|capitalize}}</th>
      <th>Button Image</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for grade in grades %}
    <tr>
      <td>
        <div>{{grade}}</div>
      </td>
      <td>
        {% if grade.buttonImage is not null %}
          <img class='img-thumbnail asset' src="/{{grade.buttonImage.webPath}}">
        {% else %}
            <div>{{grade.buttonTitle}}</div>
            <div>{{grade.buttonTitle2}}</div>
        {% endif %}
      </td>
      <td>{{grade.position}}</td>
      <td>
        <div>
          <a class='label label-warning' href="{{path('soundgapca_ground_grade_update',{'categoryId':grade.category.id,'id':grade.id})}}"> update </a>
        </div>
        <div>
          <a class='label label-danger' href="{{path('soundgapca_ground_grade_delete',{'id':grade.id})}}" onclick="return confirm('sure bo?')"> delete </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class='col-sm-5'>
<h2>{{actionName|humanize}} {{pageName|humanize}}</h2>
{{ form_start(form, {'method': 'POST','attr':{'class':'form-horizontal','role':'form'}}) }}
{{ form_end(form) }}
</div>
{% endblock %}