{% extends 'SoundGapContentAdminBundle:Layout:ca.html.twig' %}

{% block title %}{{pageName|capitalize}}{{parent()}}{% endblock %}


{% block content %}
<div class='col-sm-7'>
  <h2>{{pageName|capitalize}} List</h2>
  <table class="table">
  <thead>
    <tr>
      <th>{{pageName|capitalize}} Name</th>
      <th>Tag</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for asset in assets %}
    <tr>
      <td>{{asset.name}}</td>
      <td>{{asset.assetType.name}}</td>
      <td>
        <div >
          {% if 'image' in asset.assetType.name or 'logo' in asset.assetType.name %}
            <img class="img-thumbnail asset" src="/{{asset.webPath}}">
          {% else %}
              <audio src="/{{asset.webPath}}" controls></audio>
          {% endif %}
        </div>
      </td>
      <td>
        <div>
          <a class='label label-warning' href="{{path('soundgapca_asset_update',{'id':asset.id})}}"> update </a>
        </div>
        <div>
          <a class='label label-danger' href="{{path('soundgapca_asset_delete',{'id':asset.id})}}" onclick="return confirm('sure bo?')"> delete </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class='col-sm-5'>
<h2>{{actionName|humanize}} {{pageName|humanize}}</h2>
{{ form_start(form, {'method': 'POST','attr':{'class':'form-horizontal','role':'form'}}) }}
{{ form_end(form) }}
</div>
{% endblock %}