{% extends 'SoundGapContentAdminBundle:Layout:ca.html.twig' %}

{% block title %}{{pageName|capitalize}}{{parent()}}{% endblock %}


{% block content %}
<div class='col-sm-7'>
  <h2>{{pageName|capitalize}} List</h2>
  <table class="table">
  <thead>
    <tr>
      <th>{{pageName|capitalize}} Name</th>
      <th>Tag</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for media in medias %}
    <tr>
      <td>{{media.name}}</td>
      <td>{{media.tag}}</td>
      <td>
        <div >
          {% if pageName == 'image' %}
            <img class="img-thumbnail" src="/{{media.webPath}}">
          {% else %}
              <audio src="/{{media.webPath}}" controls></audio>
          {% endif %}
        </div>
      </td>
      <td>
        <div>
          <a class='label label-warning' href="{{path('soundgap_ca_media_'~pageName~'_update',{'id':media.id})}}"> update </a>
        </div>
        <div>
          <a class='label label-danger' href="{{path('soundgap_ca_media_delete',{'id':media.id})}}" onclick="return confirm('sure bo?')"> delete </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class='col-sm-5'>
<h2>{{actionName|humanize}} {{pageName|humanize}}</h2>
{{ form_start(form, {'method': 'POST','attr':{'class':'form-horizontal','role':'form'}}) }}
{{ form_end(form) }}
</div>
{% endblock %}