{% extends 'SoundGapContentAdminBundle:Layout:ca.html.twig' %}

{% block title %}{{pageName|capitalize}}{{parent()}}{% endblock %}


{% block content %}
<div class='col-sm-7'>
  <h2>{{pageName|capitalize}} List</h2>
  <table class="table">
  <thead>
    <tr>
      <th width="30%">{{pageName|capitalize}}</th>
      <th>Answer</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for quest in quests %}
    <tr>
      <td>
        {% if quest.isForExam %}
          <span class='glyphicon glyphicon-bookmark'></span>
        {% endif %} 
        {{quest.questCaption}}
        {% if quest.questImage %}
          <div><img class='img-thumbnail' src="/{{quest.questImage.webPath}}"></div>
        {% endif %}
      </td>
      <td>
        <div>
          {{quest.option1Caption}}
        </div>
        {% if quest.option1Image %}
          <div><img class='img-thumbnail' src="/{{quest.option1Image.webPath}}"></div>
        {% endif %}
      </td>
      <td>
        <div>
          <a class='label label-warning' href="{{path('soundgap_ca_parts_quest_update',{'id':quest.id})}}"> update </a>
        </div>
        <div>
          <a class='label label-danger' href="{{path('soundgap_ca_parts_quest_delete',{'id':quest.id})}}" onclick="return confirm('sure bo?')"> delete </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class='col-sm-5'>
<h2>{{actionName|humanize}} {{pageName|humanize}}</h2>
{{ form_start(form, {'method': 'POST','attr':{'class':'form-horizontal','role':'form'}}) }}
{{ form_end(form) }}
</div>
{% endblock %}